@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #ffffff;
  color: #1f2937;
  margin: 0;
  padding: 0;
}

#app {
  background-color: #ffffff;
  min-height: 100vh;
}

